<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzt.daily.mapper.UserMapper">

  <select id="findByName" resultType="com.zzt.daily.model.User">
    select * from users
    <where>
      name = #{name}
    </where>
  </select>

  <select id="getByGithubId" resultType="com.zzt.daily.model.User">
    select * from users
    <where>
      github_id = #{github_id}
    </where>
  </select>

  <sql id="key">
    <trim suffixOverrides=",">
      <if test="request.github_id != null">
        github_id,
      </if>
      <if test="request.github_url != null">
        github_url,
      </if>
      <if test="request.github_name != null">
        github_name,
      </if>
      <if test="request.image_url != null">
        image_url,
      </if>
      <if test="request.name != null">
        name,
      </if>
      <if test="request.email != null">
        email,
      </if>
      <if test="request.password != null">
        password,
      </if>
    </trim>
  </sql>

  <sql id="value">
    <trim suffixOverrides=",">
      <if test="request.github_id != null">
        #{request.github_id},
      </if>
      <if test="request.github_url != null">
        #{request.github_url},
      </if>
      <if test="request.github_name != null">
        #{request.github_name},
      </if>
      <if test="request.image_url != null">
        #{request.image_url},
      </if>
      <if test="request.name != null">
        #{request.name},
      </if>
      <if test="request.email != null">
        #{request.email},
      </if>
      <if test="request.password != null">
        #{request.password},
      </if>
    </trim>
  </sql>

  <insert id="create" parameterType="com.zzt.daily.requests.StoreUserRequest">
    insert into users (<include refid="key"></include>) values(<include refid="value"></include>)
  </insert>

</mapper>
